.menu-acessibilidade {
    position: fixed;
    top: 2rem;
    right: 20px;
    z-index: 1000;
    }
    .rotacao-botao {
    
    transform: rotate(-90deg);
    transform-origin: right center;
    }
    .opcoes-acessibilidade {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    }
    .opcoes-acessibilidade button {
    margin-bottom: 5px;
    }
    .apresenta-lista {
    display: none; /* Mantemos escondido até ser ativado pelo JS */
    }
    .apresenta-lista {
    display: none; /* Mantemos escondido até ser ativado pelo JS */
    }
    .alto-contraste {
    background-color: rgb(0, 0, 0);
    color: yellow;
    }
    .opcoes-acessibilidade {
    background-color: rgb(201, 5, 5);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(219, 0, 0, 0.2);
    }
    
    .alto-contraste {
    background-color: black;
    color: yellow;
    }